/* Variables */

/* Reset */
body{
  margin: 0;

}
*{
  box-sizing: border-box;
}
ul{
	list-style-type: none;
}
img{
	max-width: 100%;
}
/* Base Styles */
html{
	scroll-behavior: smooth;
}
@font-face {
	font-family: russian;
	src: url(media/Russian.ttf);
}

body{
	background-color: #DD3D39;
	font-family: russian, serif;
}
.header{
  width: 100%;
}
.header__menu{
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  border-bottom: 15px solid #FDEEC9;
  text-align: center;
  background-color: #DD3D39;
}
.header__menu a{
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  color: #FDEEC9;

}
.top{
  position: relative;
  top: 69px;
}

.peacehands{
max-width: 100% ;
}

h2{
	padding-top: 69px;
	text-align: center;
	color: #FDEEC9;
	border-bottom: 15px solid #FDEEC9;
	max-width: 30%;
	margin: auto;
	font-size: 5em;
	font-family: russian, serif;
}

.album{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;

}
.kosmo{
	max-width: 220px;
	max-height: 220px;
}
.kasa{
	max-width: 220px;
	max-height: 220px;

}
.show{
  grid-column: 1 / 4;
  justify-self: center;
}

/* Instagram
---------------------------------------------------------------------------------------------------- */

.instagram {
	overflow: hidden;
}

.instagram .wrap {
	border-top: 1px solid #eee;
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
	padding-bottom: 30px;
	padding-top: 40px;
	text-align: center;
}

.instagram .widget-title {
	font-family: 'Miller Ban It';
	font-size: 24px;
	font-style: italic;
	margin-bottom: 20px;
}

.instagram ul {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.instagram ul li {
	float: left;
	margin-left: 15px;
	margin-right: 15px; 
}

.instagram img {
	vertical-align: top;
	width: 160px;
}
/* Fonts */

/* Buttons */
.ticket {
	border: solid black;
	background-color: #eec941;
	padding: 8px 18px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	font-family: russian, serif;
	position: relative;
	left: 300px;
  }
.sold-out {
	border: solid black;
	background-color:#FDEEC9;
	padding: 8px 18px;
	font-size: 16px;
	display: inline-block;
	font-family: russian, serif;
	position: relative;
	left: 300px;
}
/* On mouse-over */
.ticket:hover {background: #eee;}

.ticket {color:black;}


/* Mobile Style */

/* small tablets styles */
@media screen and (min-width: 620px){

}

/* large tablets & laptop styles */
@media screen and (min-width: 960px){
    
}

/* desktop styles */
@media screen and (min-width: 1200px) {  
}